<h1>Users#edit</h1>


 <%= form_with model: @user, url: user_path(@user.id), method: :patch do |f|  %>

 <div class="form-group">
      <%= f.label :name,"名前" %><br>
      <%= f.text_field :name,class: "w-100" %><br/>
     </div>


    <div class="form-group">
      <%= f.label :email,"メールアドレス" %><br>
      <%= f.text_field :email,class: "w-100" %><br/>
    </div>

     <%= f.submit '投稿する' %>
    <% end %>
    </div>
  </div>