<h1>Posts#edit</h1>

 <%= form_with model: @post, url: post_path(@post.id), method: :patch do |f|  %>

     <div class="form-group">
      <%= f.label :title,"タイトル" %><br>
      <%= f.text_field :title,class: "w-100" %><br/>
     </div>

    <div class="form-group">
       <%= f.label :post_images,"写真" %><br>
       <%= f.file_field :post_images,accept: "image/*" %><br />
   </div>

    <div class="form-group">
      <%= f.label :body,"本文" %><br/>
      <%= f.text_area :body,rows: '5',class: "w-100" %><br/>
    </div>

     <%= f.submit '投稿する' %>
    <% end %>
    </div>
  </div>