<body class="d-flex flex-column vh-100">
    <header class="shadow-sm">
      <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container">
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ml-auto">
          <% if user_signed_in? %>
           <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></li>
           <li><%= link_to "新規投稿",new_post_path %></li>
           <li><%= link_to "ユーザー情報",mypage_path %></li>
           <li><%= link_to "退会する",quit_path(current_user.id) %></li>


          <% else %>
          <li>
            <%= link_to"トップページへ",root_path, class:"link" %>
          </li>
          <li>
            <%= link_to"サインアップ", "/users/sign_up", class:"link" %>
          </li>
          <li>
            <%= link_to"ログイン", "/users/sign_in", class:"link" %>
          </li>
         <% end %>
         </ul>
          </div>
        </div>
      </nav>
    </header>